<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horizon Honey</title>
  </head>
  <body>
    <h1>Horizon Honey</h1>
    <img src="https://ed9c3ff4-80c4-4500-a1f4-226b78b67a72-00-1ir5o8si1ujp8.worf.replit.dev/static/banner.jpg" height="320">
    <h2>About Horizon Honey</h2>     <P>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nec ultricies praesent donec condimentum commodo sociosqu vitae magna ac mollis egestas sem odio adipiscing. Dapibus ligula cursus tortor blandit fringilla. Mauris dignissim pellentesque pretium duis sem ullamcorper orci curabitur fusce condimentum purus. Ut cubilia etiam dapibus litora faucibus bibendum ac.
    </P>
    <h2>Open Position</h2>
    <p>TODO - show the jobs here</p>
    <button>Contact Us</button>
  </body>
</html> -->